* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: white;
}

body {
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
